@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: white;
  background: rgb(147, 130, 255, 0.8);
}

::selection {
  color: white;
  background: rgb(147, 130, 255, 0.8);
}

* {
  scroll-behavior: smooth;
}
